@font-face {
    font-family: NeueHaasGroteskRegular;
    src: url("../font/NeueHaasGroteskRegular.ttf");
}

body {
    background-color: #d8d8d8;
    height: 100vh;
    max-width: 1920px;
    margin: auto;
    font-family: NeueHaasGroteskRegular;
}

.navbar {
    padding: 10px 20px;
}

.navbar-brand {
    cursor: pointer;
}

.navbar-brand .logo {
    width: 150px;
}

.navbar.navbar-light .form-inline {
    background-color: #ffffff;
    border-radius: 5rem;
    font-size: 1.8rem;
    width: 15rem;
    height: 3rem;
    border: none;
    line-height: 3rem;
}

.navbar.navbar-light .form-inline .nav-login {
    text-align: center;
}

.content__sns-registration {
    background-color: #ffffff;
    border-radius: 2.8rem;
    width: 35rem;
    height: 30rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.content__sns-registration .content__login-brand {
    padding-top: 2rem;
}

.content__sns-registration .btn-signup {
    background-color: #21124a;
    margin-top: 1rem;
    width: 80%;
    height: 4rem;
    border-radius: 1rem;
    font-size: 1.4rem;
    letter-spacing: 2px;
}

.content__sns-registration .btn-login {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000;
    margin-top: 1rem;
    width: 80%;
    height: 4rem;
    border-radius: 0.8rem;
    font-size: 1.4rem;
    letter-spacing: 2px;
}

.content__sns-registration .content__login-or {
    padding-top: 2rem;
    position: relative;
    font-size: 1.4rem;
}

.content__sns-registration .content__login-or::before {
    position: absolute;
    content: "";
    border: 0.1rem solid #707070;
    border: 0.1rem solid #707070;
    width: 10rem;
    left: 6rem;
    top: 3rem;
}

.content__sns-registration .content__login-or::after {
    position: absolute;
    content: "";
    border: 0.1rem solid #707070;
    width: 10rem;
    right: 6rem;
    top: 3rem;
}

.content__sns-registration .content__login-description {
    padding-top: 2rem;
    font-size: 1.4rem;
    letter-spacing: 2px;
    color: #000000;
}

.content__sns-registration .content__login-brand .registration_logo {
    width: 100px;
}

.content__sns-registration .content__login-icon {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.content__sns-registration .content__login-icon .icon {
    width: 3rem;
    height: 3rem;
    margin: 0.5rem;
    cursor: pointer;
}

.content__login {
    background-color: #ffffff;
    border-radius: 3rem;
    width: 35rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.content__login .login-title {
    padding-top: 2rem;
    font-size: 2.1rem;
    color: #000000;
    letter-spacing: 1px;
    text-align: center;
}

.content__login .form-group {
    margin: 1rem auto;
    width: 80%;
}

.content__login .input-email {
    height: 4rem;
    border-radius: 0.8rem;
    letter-spacing: 2px;
    color: #000000;
    font-size: 1.3rem;
}

.content__login .input-password {
    height: 4rem;
    border-radius: 0.8rem;
    letter-spacing: 2px;
    color: #000000;
    font-size: 1.3rem;
}

.content__login .forgot-password {
    font-size: 1rem;
    color: #000000;
    letter-spacing: 1px;
    padding-top: 1rem;
    text-align: center;
}

.content__login .forgot-password a {
    text-decoration: none;
}

.content__login .forgot-password a span {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #1d1b1b;
    color: #000000;
    text-decoration: none;
}

.content__login .subscript-btn-next {
    text-align: center;
    padding-bottom: 2rem;
}

.content__login .subscript-btn-next .btn-subscription-next {
    background-color: #000;
    color: #fff;
    width: 80%;
    border-radius: 50px;
    height: 4rem;
    font-size: 1.6rem;
    margin-top: 2rem;
}

.content__signup {
    background-color: #ffffff;
    border-radius: 2.8rem;
    width: 40rem;
    margin-top: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.content__signup .content__signup-main {
    padding-bottom: 2rem;
}

.content__signup .content__signup-main .content__signup-title {
    padding-top: 2rem;
    font-size: 2.1rem;
    text-align: center;
}

.content__signup .content__signup-main .content__signup-name {
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.content__signup .content__signup-main .content__signup-name .input-first-name {
    width: 15rem;
    height: 4rem;
    border-radius: 0.8rem;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}

.content__signup .content__signup-main .content__signup-name .input-last-name {
    width: 15rem;
    height: 4rem;
    border-radius: 0.8rem;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}

.content__signup .content__signup-main .form-group {
    margin: 1rem auto;
    width: 80%;
}

.content__signup .content__signup-main .input-form {
    height: 4rem;
    border-radius: 0.8rem;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}

.content__signup .content__signup-main .form-check {
    display: flex;
    align-items: center;
}

.content__signup .content__signup-main .form-check .round {
    position: relative;
}

.content__signup .content__signup-main .form-check .round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 1.5rem;
    left: 3rem;
    position: absolute;
    top: 0;
    width: 1.5rem;
}

.content__signup .content__signup-main .form-check .round label::after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 0.3rem;
    left: 0.3rem;
    opacity: 0;
    position: absolute;
    top: 0.5rem;
    transform: rotate(-45deg);
    width: 1rem;
}

.content__signup .content__signup-main .form-check .round input[type=checkbox] {
    visibility: hidden;
}

.content__signup .content__signup-main .form-check .round input[type=checkbox]:checked+label {
    background-color: #66bb6a;
    border-color: #66bb6a;
}

.content__signup .content__signup-main .form-check .round input[type=checkbox]:checked+label:after {
    opacity: 1;
}

.content__signup .content__signup-main .form-check .check-title {
    padding-left: 5rem;
    letter-spacing: 1px;
    padding-top: 0.5rem;
}

.content__signup .content__signup-main .form-check .check-title span {
    border-bottom: 1px solid #000000;
}

.content__signup .content__signup-main .subscript-btn-next {
    text-align: center;
}

.content__signup .content__signup-main .subscript-btn-next .btn-subscription-next {
    background-color: #000000;
    color: #fff;
    width: 30.5rem;
    border-radius: 50px;
    height: 4rem;
    font-size: 1.6rem;
    margin-top: 2rem;
}

.content__reset-password {
    background-color: #ffffff;
    border-radius: 3rem;
    width: 35rem;
    margin-top: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.content__reset-password .reset__password {
    padding-bottom: 2rem;
}

.content__reset-password .reset__password .reset__password-title {
    padding-top: 2rem;
    font-size: 2.1rem;
    color: #000000;
    letter-spacing: 1px;
    text-align: center;
}

.content__reset-password .form-group {
    margin: 1rem auto;
    width: 80%;
}

.content__reset-password .reset__password  .input-email {
    margin-top: 3rem;
    height: 4rem;
    border-radius: 0.8rem;
    font-size: 1.3rem;
    letter-spacing: 2px;
    display: flex;
}

.content__reset-password .reset__password .subscript-btn-next {
    text-align: center;
    width: 100%;
}

.content__reset-password .reset__password .subscript-btn-next .btn-subscription-next {
    background-color: #000;
    color: #fff;
    width: 80%;
    border-radius: 50px;
    height: 4rem;
    font-size: 1.6rem;
    margin-top: 2rem;
}

.content__send-email {
    background-color: #ffffff;
    border-radius: 3rem;
    width: 25rem;
    margin-top: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.content__send-email .send__email .send__email-title {
    padding-top: 2rem;
    font-size: 2rem;
    text-align: center;
}
.content__send-email .send__email .send__email-content {
    padding: 2rem 1rem;
    font-size: 1.3rem;
    text-align: center;
}

.content__change-password {
    background-color: #ffffff;
    border-radius: 3rem;
    width: 35rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.content__change-password .change-password-title {
    padding-top: 2rem;
    font-size: 2.1rem;
    color: #000000;
    letter-spacing: 1px;
    text-align: center;
}

.content__change-password .form-group {
    margin: 1rem auto;
    width: 80%;
}

.content__change-password .input-password {
    height: 4rem;
    border-radius: 0.8rem;
    letter-spacing: 2px;
    color: #000000;
    font-size: 1.3rem;
}

.content__change-password .subscript-btn-next {
    text-align: center;
    padding-bottom: 2rem;
}

.content__change-password .subscript-btn-next .btn-subscription-next {
    background-color: #000;
    color: #fff;
    width: 80%;
    border-radius: 50px;
    height: 4rem;
    font-size: 1.6rem;
    margin-top: 2rem;
}